* {
	margin: 0;
	padding: 0;
	font-family: Times New Roman, Arial, Verdana;
}
#wrapper {
	padding: 1% 3% 1% 3%;
	height: 100vh;
	margin: 0 15% 0 15%;
	background-color: white;
	opacity: 0.95;
}
body {
	background: url(../img/bg-photo.jpg) 100% 100% no-repeat;
	background-size: cover;
}
table {
	width: 100%;
	height: 40%;
	text-align: center;
	border: solid black 1px #b7babf;
	background-color: #b7babf;
}
table td {
	border: 1px solid #e3e8ef;
	background-color: #e3e8ef;
	font-size: 2em;
}
table th {
	border: 1px solid #e3e8ef;
	background-color: #e3e8ef;
}
table .country {
	font-weight: bold;
}
table .money {
	font-size: 50%;
	margin-left: 0.2em;
}